:root {
    --border-boton: #0D0D0D;
    --color-texto-boton: #0D0D0D;
    --baclground-boton: #F2F2F2;
}

.datosPersonales {
    margin-top: 3em;
    background-color: var(--baclground-boton);
    padding: 30px;
    justify-content: center;
}

/* Botones de la sección */
.btn {
    background-color: var(--baclground-boton);
    border: solid 1.4px var(--border-boton);
    color: var(--border-boton);
} 